<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body> 
    <header>
    <div class="contenedor">
        <div class="controllogo">
            <img src="/img/logo-mercado-liebre.svg" alt="logo">
        </div>
        <div class="controllupa">
            <input type="texto" class="inputlupa">
            <button class="botonlupa"><i class="fas fa-search"></i>
            </button>
        </div>

        <div class="controlmensaje"><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tienda">Tienda Oficial</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
                <li><a href="Vender">Vender</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/Registro">Creá tu Cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="Login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="Carrito">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
<main class="contenedor">
    <div class="registro">
        <form action="/" class="registroform">
            <h3 class="registrotitulo">Inicio de sesión</h3>
            <div class="controladorinput">
                <input type="text" class="iteminput" placeholder="Nombre de usuario" name="usuario"
                    title="usuario valido" minlength="6" maxlength="15" required>
            </div>
            <div class="controladorinput">
                <input type="password" class="iteminput" placeholder="contraseña" name="contrasenab"
                    title="Contraseña valida" minlength="6" maxlength="15" required>
            </div>
            <div class="ctrl-input">
                <input type="submit" value="iniciar sesión" class="botonform">
         </div>
        </form>
    </div>
</main>
</body>
</html>